<div class="card container" [routerLink]="['/issues', issueData.id]">
  <div class="card__id" *ngIf="showAssignee">Id: {{ issueData.id }}</div>
  <div class="card__date" *ngIf="showAssignee">{{ issueData.created_at | date }}</div>
  <h3>{{ issueData.title }}</h3>
  <p>
    {{ issueData.description_part }}
  </p>
  <section class="assignee" *ngIf="showAssignee && users && issueData">
    <strong>Assignee</strong>
    <strong>Status</strong>
    <div class="details">
      <img src="{{parse(users, issueData.assignee)['profile_image']}}">
      <span class="details-info">
        <span *ngIf="users && issueData"><strong>{{ parse(users, issueData.assignee)['username'] }}</strong></span>
        <span *ngIf="users && issueData">{{ parse(users, issueData.assignee)['role'] }}</span>
      </span>
    </div>
    <button class="{{priorityStyles[issueData.severity-1] }}">{{ priority[issueData.severity-1] }}</button>
  </section>
</div>
