.app-container > main {
    display: grid;
    grid-template-rows: 3em 1fr;
    grid-gap: 1em;
    padding: .5em 2em;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
  }

  .buttons-header {
    display: flex;
    justify-items: auto;
    justify-content: flex-end;

  }

.header-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.header-content select{
  border: none;
}
  
  .kanban-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
  }
