<div class="app-container">
  <app-nav></app-nav>
  <main>
    <section class="header">
      <h1>Issues</h1>
      <h1>For January 2019</h1>
    </section>
    <section class="kanban-board">
      <section class="paper">
        <app-issues-list heading="Todo" showAssignee="true"></app-issues-list>
      </section>
      <section class="paper">
        <app-issues-list heading="In Progress" showAssignee="true"></app-issues-list>
      </section>
      <section class="paper">
        <app-issues-list heading="Done"  showAssignee="true"></app-issues-list>
      </section>
    </section>
  </main>
</div>
