<div class="app-container issue-details-container">
  <app-nav></app-nav>
  <main>
    <h1>{{ issue.title }}.</h1>
    <p>{{ issue.description }}</p>

    <section class="options-section">
      <button type="secondary">
        Edit
      </button>
      <button type="secondary" (click)="deleteIssue()">
        Delete
      </button>
    </section>



    <section class="details-section">

      <div class="details-container">
        <div class="key">Id:</div>
        <strong>{{ issue.id }}</strong>
        <div class="key">Project:</div>
        <strong class="priority">{{ project['name'] }}</strong>
        <div class="key">Priority:</div>
        <strong>{{ priority[issue.severity] }}</strong>
        <div class="key">Attachments:</div>
        <strong>None</strong>
      </div>

      <div class="details-container">
        <div class="key">Issue Type:</div>
        <strong>{{ issueType[issue.type] }}</strong>
        <div class="key">Assignee: </div>
        <strong>{{ user['username'] }}</strong>
        <div class="key">Due Date:</div>
        <strong>{{ issue.due_date | date }}</strong>
      </div>
    </section>

    <div class="details-container">
        <h3>Attachment</h3>

        <div class="attachment-box">
          <div class="attachment-text">
            Drop files to attach, or <a href="">browse</a>
          </div>
        </div>
    </div>

  </main>
</div>
