/* You can add global styles to this file, and also import other style files */

html, body {
  min-height: 100%;
}

.app-container {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 15% auto;
  height: 100%;
}

.card {
  cursor: pointer;
  padding: 1em;
}

input, select, textarea, .attachment {
  border-radius: 2px;
  height: 2.5em;
  opacity: 0.4;
  padding:.325em 1.5em;
  width: 100%;
}

select {
  background: url(../assets/down-arrow.png) no-repeat right;
  background-size: 20px 20px;
  background-position-x: 96%;
  -webkit-appearance: none;
}

button {
  border: none;
  border-radius: 4px;
  padding: .5em 1em;
}

textarea::placeholder {
	font-style: italic;
}

.card__id {
  font-size: .8em;
}

.card__date {
  font-size: .7em;
}

h3 {
  font-size: 1em;
}

hr {
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
}

p{
  margin: 0;
}

.avatar {
  border-radius: 50%;
}
