<div class="app-container create-container">
  <app-nav></app-nav>
  <main>
    <h1>Create</h1>
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
      <section>
        <label>Project:</label>
        <select formControlName="project">
          <option *ngFor="let project of projects" [value]="project.id">{{ project.name }}</option>
        </select>
      </section>

      <section>
        <label>Issue Type:</label>
        <select formControlName="type">
          <!-- <option *ngFor="let item of type" [value]="item">
            {{item}}
          </option> -->
          <option value="Bug">BUG</option>
          <!-- <option value="Task">TASK</option> -->
        </select>
      </section>

      <section class="title-container">
        <label for="title"> Title:</label>
        <input type="text" class="title-text" name="title" placeholder="Text" formControlName="title">
        <div *ngIf="(f.title.dirty || f.title.touched) && f.title.errors" class="invalid-feedback">
          <div *ngIf="f.title.errors.required">Title is required len 1-100</div>
        </div>
      </section>

      <section>
        <label>Description:</label>
        <input type="text" formControlName="description">
      </section>

      <section>
        <label>Priority:</label>
        <select formControlName="severity">
          <!-- <option *ngFor="let item of priority" [value]="item">
            {{item}}
          </option> -->
          <option value="1">LOW</option>
          <option value="2">MEDIUM</option>
          <option value="3">HIGH</option>
        </select>
      </section>

      <section>
        <label>Assignee:</label>
        <select formControlName="assignee">
          <option *ngFor="let user of users" [value]="user.id">{{ user.username }}</option>
        </select>
      </section>

      <section>
        <label for="attachment">Attachment:</label>
        <input id="attachment" type="text" class="attachment" placeholder="Drop files to attach, or browse">
        <!--<div id="attachment" formControlName="attachment" class="attachment"> Drop file to attach or <a href="">browse</a></div>-->
      </section>

      <section>
        <label for="date">Date:</label>
        <div >
          <input id="date" formControlName="date" type="date">
        </div>
      </section>



      <!--<section>-->
        <!--<label>Status:</label>-->
        <!--<select formControlName="status">-->
          <!--&lt;!&ndash; <option *ngFor="let item of type" [value]="item">-->
            <!--{{item}}-->
          <!--</option> &ndash;&gt;-->
          <!--<option value="Open">Open</option>-->
          <!--<option value="In Progress">In Progress</option>-->
          <!--<option value="Resolved">Resolved</option>-->
        <!--</select>-->
      <!--</section>-->
      <section class="submit-section">
        <section class="sub">
          <button type="submit">Cancel </button>
          <button type="submit" [disabled]="!createForm.valid">Submit</button>
        </section>
      </section>
    </form>
  </main>
</div>
