<div class="app-container create-container">
  <app-nav></app-nav>
  <main>
    <h1>Create</h1>
    <form>
      <section class="title-container">
        <label for="title"> Title:</label>
        <textarea class="title-text" name="title" placeholder="Text"></textarea>
      </section>
      <section>
        <label>Type:</label>
        <select>
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
      </section>
      <section>
        <label>Status:</label>
        <input type="text">
      </section>
      <section>
        <label>Priority:</label>
        <select>
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
      </section>
      <section>
        <label>Resolution:</label>
        <input type="text">
      </section>
      <section>
        <label>Affected Version/s:</label>
        <input type="text">
      </section>
      <section>
        <label>Fix-Version:</label>
        <select>
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
      </section>

      <section>
        <label>Components/s:</label>
        <input type="text">
      </section>

      <section>
        <label>Assignee:</label>
        <select>
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
      </section>

      <section>
        <label>Labels:</label>
        <input type="text">
      </section>

      <section>
        <label>Reporter:</label>
        <select>
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
      </section>

      <section>
        <label>Sprint:</label>
        <input type="text">
      </section>

      <section>
        <label>Description:</label>
        <input type="text">
      </section>


      <section>
        <label>Story Points:</label>
        <select>
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
      </section>

      <section>
        <label>Attachment:</label>
        <div class="attachment"> Drop file to attach or <a href="">browse</a></div>
      </section>

      <section class="submit-section">
        <button type="submit">Submit ></button>
      </section>
    </form>
  </main>
</div>
