.card-list-item-body .user-details {
  justify-content: flex-start;
}

.progress-bar {
  height: .4em;
  width: 100%;
  margin: 1em 0;
  border-radius: 10em;
  background: linear-gradient(to right, #c500f7 80%, #e5e6f2 80.001%);
}
