<div class="app-container">
  <app-nav></app-nav>
  <main>
    <h1>Dashboard</h1>
    <section class="paper graph-section">
      <img src="../assets/graph.png" />
    </section>
    <section class="issues-list-section">
      <article class="paper">
        <app-issues-list heading="High Priority" showAssignee="false" [issues]="highPriorityIssues"></app-issues-list>
      </article>
      <article class="paper">
        <app-issues-list heading="Recently Updated" showAssignee="false" [issues]="recentlyUpdatedIssues"></app-issues-list>
      </article>
      <article class="paper">
        <div>
            <h2>All Issues</h2>
            <hr />
            <div *ngFor="let assigneeIssue of assigneeIssues">
                <app-issue-card-mini-progress showAssignee="false" [issueData]="assigneeIssue"></app-issue-card-mini-progress>
                <hr />
            </div>
        </div>
      </article>
    </section>
  </main>
</div>
