<div class="app-container">
  <app-nav></app-nav>
  <main>
    <h1>Dashboard</h1>
    <section class="paper graph-section">
      <img src="../assets/graph.png"/>
    </section>
    <section class="issues-list-section">
      <article class="paper" >
        <app-issues-list heading="High Priority"></app-issues-list>
      </article>
      <article class="paper" >
        <app-issues-list heading="Recently Updates Issue"></app-issues-list>
      </article>
      <article class="paper" >
        <app-issues-list heading="All Issue"></app-issues-list>
      </article>
    </section>
  </main>   
</div>
